@import '@/styles/variables.less';

.audit-container {
  padding: 24px 32px 0 32px;
  width: 100%;
  height: 100%;
  background-color: #fff;
  overflow: hidden;
}

.audit-container-absolute {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.audit-tabs {
  height: 100%;

  :global {
    .@{ant-prefix}-tabs-content,
    .@{ant-prefix}-tabs-tabpane {
      height: 100%;
    }

    .@{ant-prefix}-table-cell {
      height: 50px !important;
      padding-top: 0 !important;
      padding-bottom: 0 !important;
    }

    .@{ant-prefix}-pagination {
      padding-right: 16px;
    }
  }
}
