.tabs {
  :global {
    .dip-tabs-tab {
      color: var(--dip-text-color-65);

      &:hover {
        color: var(--dip-text-color);
      }

      &.dip-tabs-tab-active .dip-tabs-tab-btn {
        color: var(--dip-text-color);
      }
    }
  }
}
