.skills-table {
  width: 100%;

  :global {
    .agent-web-table-header .agent-web-table-cell {
      white-space: nowrap;
    }

    .dip-table-placeholder .dip-table-cell {
      border-bottom: none;
    }
  }
}
