  .ad-prompt-input {
  position: relative;
  width: 100%;
  height: 100%;

  &-editor {
    width: 100%;
    height: 100%;
    outline: none;
  }

  &-border {
    transition: all .3s;
    padding: 8px 11px;
    border: 1px solid #d9d9d9;
    border-radius: var(--dip-border-radius-base);

    &:not(.ad-prompt-input-disabled) {
      &:hover {
        border-color: var(--dip-primary-color-hover);
      }
    }


    .ad-prompt-input-placeholder {
      top: 8px;
      left: 11px;
    }
  }

  &-focus {
    border-color: var(--dip-primary-color-hover);
  }
  &-disabled {
    background: var(--dip-hover-bg-color);
    cursor: not-allowed;
  }

  &-var {
    display: inline-block;
    //background: rgba(0, 0, 0, 0.04);
    //border-radius: 3px;
    ////padding: 0 12px;
    //line-height: 20px;
    //height: 22px;
    //display: inline-block;
    //margin: 0 4px;
    //
    //&-error {
    //  background: #ff4d4f;
    //  color: #fff;
    //  position: relative;
    //
    //  &:hover {
    //    .ad-prompt-input-var-tip {
    //      display: block;
    //    }
    //  }
    //}
    //
    //&-tip {
    //  display: none;
    //  position: absolute;
    //  top: 0;
    //  left: 0;
    //  transform: translateY(-100%);
    //  background: #000;
    //  color: #fff;
    //}
  }

  &-select {
    .agent-web-select-selector {
      height: 22px !important;
      padding: 0 !important;

      input {
        //height: unset !important;
        height: 22px !important;
      }

      .agent-web-select-selection-search {
        //left: 0 !important;
        //top: -3px !important;
      }

      .agent-web-select-selection-placeholder {
        //line-height: unset;
      }
    }
  }

  &-placeholder {
    white-space: pre-wrap;
    font-size: 14px;
    line-height: 24px;
    color: rgba(0, 0, 0, 0.25);
    position: absolute;
    top: 0;
    left: 0;
    user-select: none;
    pointer-events: none;
  }

  &-footer {
    margin-top: 12px;
  }
}


.agent-web-form {
  .agent-web-form-item {
    &.agent-web-form-item-has-error {
      .ad-prompt-input-editor {
        border-color: var(--dip-error-color);
      }
    }
  }
}

