.menu {
  :global {
    .@{ant-prefix}-menu-submenu-title {
      margin-left: 6px !important;
      margin-right: 6px !important;
      padding-left: 10px !important;
      padding-right: 30px !important;
    }

    .@{ant-prefix}-menu-sub > .@{ant-prefix}-menu-item {
      padding-left: 36px !important;
    }

    .@{ant-prefix}-menu-sub
      > .@{ant-prefix}-menu-submenu
      > .@{ant-prefix}-menu-submenu-title
      > .@{ant-prefix}-menu-title-content {
      padding-left: 26px !important;
    }

    .@{ant-prefix}-menu-sub > .@{ant-prefix}-menu-submenu > .@{ant-prefix}-menu-sub > .@{ant-prefix}-menu-item {
      padding-left: 50px !important;
    }
  }
}
