PORT=3000

BKN_BACKEND_URL=http://127.0.0.1:13014
APP_USER_TOKEN=
APP_USER_ID=

OPENCLAW_GATEWAY_PROTOCOL=ws
OPENCLAW_GATEWAY_HOST=127.0.0.1
OPENCLAW_GATEWAY_PORT=19001
OPENCLAW_GATEWAY_TOKEN=
OPENCLAW_GATEWAY_TIMEOUT_MS=5000
OPENCLAW_WORKSPACE_DIR=
