node_modules
.pnpm-store
.turbo
dist
.rsbuild
coverage
.DS_Store
.vscode
.cursor
.idea
.codex

apps/*/node_modules
apps/*/.turbo
apps/*/dist
apps/*/.rsbuild
packages/*/node_modules
packages/*/dist
.idea